
<h1 class="pie-heading">Most Popular Categories</h1>
<div class="pie-chart"></div>

<ul class="key">
  <li>
    <strong class="percent red">33.3%</strong>
    <span class="choice">Vegetarian</span>
  </li>
  <li>
    <strong class="percent gray">8.3%</strong>
    <span class="choice">Chinese</span>
  </li>
  <li>
    <strong class="percent purple">16.6%</strong>
    <span class="choice">Italian</span>
  </li>
  <li>
    <strong class="percent blue">33.3%</strong>
    <span class="choice">American</span>
  </li>
  <li>
    <strong class="percent yellow">8.3%</strong>
    <span class="choice">Mexican</span>
  </li>
</ul>



<!-- <section class="analytics-body">

<div>Average number of servings, most popular categories, most popular price range, most popular times</div>

<div class="analytics-grid-container">
  <div class="servings-grid"></div>
  <div class="categories-grid"></div>
  <div class="prices-grid"></div>
  <div class="times-grid"></div>
</div>

</section> -->


