<h2 class="new-meal-header">New Meal Posting</h2>

<%= render 'form', meal_posting: @meal_posting %>

<div class="container back-btn-container">
  <%= link_to 'Back', meal_postings_path, class: "btn btn-primary back-btn" %>
</div>