<h2 class="new-user-header">Sign Up</h2>

<%= render 'form', user: @user %>

<!-- Now Links back to the Home/Root -->
<div class="back-button"><%= link_to 'Back', root_path, class: "btn btn-primary" %></div>
