<!-- In <body> tags from application.html.erb -->
<header class="navbar">
<nav>
  <div id="nav-container" class="container-fluid">
    <div class="row">
      <div id="nav-login" class="col-md-4">
        Welcome User!
        <button class="btn btn-default">Login
          <%= link_to '/login' %>
        </button>
      </div>
      <div id="nav-links" class="col-md-4">
      </div>
      <div id="nav-search" class="col-md-4">
      </div>
    </div>
  </div>


</nav>
</header>
<section class="postings-list">
Here are the postings
</section>
