// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.stripe-button-el,
.accepted-payment {
  margin-left: 15px;
}

.reservation-show-buttons {
  margin-bottom: 10px;
}

.reservation-desc {
  margin-bottom: 10px !important;
}

.payment-btn,
.delete-btn {
  margin-bottom: 10px;
}